#subscription-list-container {
    display: flex;
    /* width: 80%; */
    margin: 0 auto;
    justify-content: space-evenly;
}

.subscription-list {
    border: 6px solid #00b96b;
    width: 30%;
}

.subscription-list .ant-list-item {
    text-align: center;
}

.subscription-list .ant-list-header {
    border-bottom: solid 3px #00b96b;
}