.add-reminder-input {
    display: block;
    margin: 0 auto;
    padding: 2%;
    width: 50%;
    margin-bottom: 2%;
    transition: transform 1s ease;
    text-align: center;
}

.add-reminder-input:focus {
    transform: scale(1.1);
    font-size: large;
}

#reminder-time-options {
    display: flex;
}
#reminder-time-options input {
    width: 20%;
}
#reminder-time-number {
    display: block;
    margin: 0 auto;
    width: 40%;
    padding: 2%;
}

#submit-reminder {
    border: solid 3px blue;
    padding: 3%;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

#submit-reminder:active {
    background-color: blue;
    color: white;
    transform: scale(0.8);
}

#reminder-time-note {
    color: red;
    max-width: 30%;
}
#reminder-time-note:hover {
    cursor: pointer;
}
#reminder-note-modal {
    width: 40%;
    height: 30%;
    margin: 0 auto;
}

#add-reminder-response {
    background-color: white;
    padding: 2%;
    width: max-content;
    margin: 0 auto;
    margin-top: 2%;
}