#back-button {
    padding: 1% 2%;
    background-color: #888;
    color: white;
    border: none;
    border-radius: 5px;
    transition: border-radius 1s ease, background-color 1s ease;
    float: left;
    margin-bottom: 40px;
    margin-left: 5%;
}

#back-button:hover {
    cursor: pointer;
    border-radius: 12px;
    background-color: #222;
}

#back-button:hover::before {
    content: '\00AB     ';
}