#close-button {
    border-radius: 12px;
    background-color: black;
    color: white;
    padding: 2%;
    width: 20%;
    display: block;
    margin-left: 0;
    transition: transform 2s ease;
}

#close-button:hover {
    cursor: pointer;
}

#close-button:active {
    transform: scale(0.8);
}