.episode-data {
    text-align: left;
    color: black;
    background-color: white;
    max-width: 70%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 2% 0 2% 0;
    margin-top: 2%;
    margin-bottom: 2%;
    transition: transform 2s ease;
}

.episode-data:hover {
    transform: scale(1.2);;
    background-color: black;
    color: white;
}

.episode-number {
    text-align: left;
}

.channel {
    padding-left: 5%;
}