.season {
    border: solid 5px black;
    border-radius: 5px;
    max-width: 50%;
    margin: 0 auto;
    background-color: green;
    color: white;
    margin-bottom: 1%;
}

.season-table {
    width: 95%;
    margin: 0 auto;
}

.episode-channel {
    display: block;
    margin-bottom: 3px;
}