#recorded-shows-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    width: 95%;
    margin: 0 auto;
}

.recorded-show {
    border: solid 4px #555;
    margin: 3%;
    box-shadow: 8px 8px #aaa;
}

.recorded-show:hover {
    background-color: #02b102;
    color: white;
    cursor: pointer;
}
