.season {
    border: solid 5px black;
    border-radius: 5px;
    max-width: 50%;
    margin: 0 auto;
    background-color: green;
    color: white;
    margin-bottom: 1%;
}

.season-table {
    width: 95%;
    margin: 0 auto;
}

.episode-channels li, .episode-air-dates li {
    list-style: none;
}
.episode-channels ul, .episode-air-dates ul {
    padding: 0px;
}