#list-of-shows {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.show-from-list {
    border: solid 1px black;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
}

.remove-show-from-list {
    display: block;
    margin: 0 auto;
    background-color: #6658d3;
    color: #FFF;
}

.remove-show-from-list:hover {
    cursor: pointer;
    background-color: rgba(102, 88, 211, .7);
}