#show-to-add {
    margin-bottom: 1%;
    /* background-color: #6658d3; */
	color: #6658d3;
    width: 20%;
    padding: 1%;
    transition: .25s ease;
}

#show-to-add:focus {
    border: solid 5px #6658d3;
}

#submit-show {
    display: block;
    margin: 0 auto;
    padding: 1em;
    font-weight: 500;
	background-color: #6658d3;
	color: #FFF;
	border: 0;
    width: 20%;
}

#submit-show:hover {
    cursor: pointer;
    background-color: rgba(102, 88, 211, .7);
}

#clear-input {
    padding: 0.5%;
    width: 10%;
}

.ant-carousel .slick-next::before {
    content: '';
}
.ant-carousel .slick-prev::before { 
    content: '';
}

.ant-carousel {
    width: 900px;
    margin: 0 auto;
}

.result {
    text-align: center;
    width: 400px;
    cursor: pointer;
    width: 99% !important;
}

.result:hover {
    border-radius: 10px;
    background-color: #00b96b80;
}

.result-selected {
    text-align: center;
    border: solid 5px #00b96b;
    border-right-width: 4px;
    border-radius: 10px;
    background-color: #00b96b80;
    width: 99% !important;
    margin: 0 auto;
}